html, body {
  background-color:#0c061b;
  color: #fe981e;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h1 {
  text-align: center;
  color:#ca1750;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "MORF" 15,
  "SHLN" 50;
  font-size: 64px;
  margin-top: 8px;
  line-height: 0.75;
  /* margin-left: 64px; */
  transition: 1s;
  max-width: 800px;
}

pre, code {
  font-size: 17px;
}

.textbox {
  float: right;
  background-color: #fefa1e;
  border: none;
  color: #0c061b;
  max-width: 300px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-style: italic;
  margin-left: 20px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: 500;
}

ul, li {
  list-style-type: none;
  color: #fe981e;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(210, 31, 91);
}

a:hover {
  background-color: rgb(210, 31, 91);
  color: white;
  transition: 1s;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 56px;
}

.sidenav a {
  text-decoration: none;
  color: #fe981e;
  display: block;
  transition: 0.3s;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: -36px;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: -600px;
  right: 6px;
  margin-left: 50px;
  font-size: 90px;
}

.closebtn:hover {
  background-color: rgba(0, 0, 0, 0);
}

.openbtn:hover {
  background-color: rgba(0, 0, 0, 0);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin: auto;
  margin-top: 128px;
  max-width: 800px;
}

#title {
  text-align: right;
  width: 100%;
}

#openNav {
  font-size:30px;
  cursor:pointer;
  position: absolute;
  top: 9px;
  left: 0px;
  font-size: 36px;
}

b {
  color: #ca1750;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;
}

pre[class*="language-"] button {
  position: absolute;
  top: 22px;
  right: 0px;
  font-size: 17px;
  padding: 6px;
  background-color: #ca1750;
  color: #fff;
  border: none;
  font-weight: 900;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #0c061b;
  transition: 1s;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 800px;
  padding-right: 32px;
  z-index: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(12, 6, 27, 1))
}

img {
  filter: grayscale(0%);
  max-width: 300px;
  float: left;
  margin-right: 20px;
  margin-top: 12px;
  margin-bottom: 6px;
}